# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE dependence
*.idea

# Gradle File
*.gradle
gradle/*
gradlew
gradlew.bat
build/*

#repository files
files/*

#binary files
thirdparty/*
thirdparty/LibreOfficePortable/Data/settings/user/pack/registrymodifications.pack
thirdparty/LibreOfficePortable/Data/settings/user/registrymodifications.xcu
*.pack
*.xcu

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
